body{
  background-color: black;
  perspective-origin: 50% -35%;/*inclinaison de la perspetive*/
  perspective: 550px;/*Creer la perspecrive tjrs dans le contenaire*/
  overflow: hidden;
}
@keyframes starwars {
  from{
    transform: rotateX( 30deg ) translateY(25%);
  }
  to{
    transform: rotateX( 30deg ) translateY(-80%);
  }
}
.main{
  color:yellow;
  margin: auto;
  width: 70%;
  width: 70%;
  transform: rotateX( 30deg ) translateY(0%);
  font-size: 29px;
  font-family: fantasy;
  line-height: 50px;
  animation-name: starwars;
  animation-duration: 25s;
  animation-iteration-count: infinite;

}
